{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>Related Publications</h3>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="https://www.sciencedirect.com/science/article/pii/S1566253519307729">Nguyen, Hoang Long, Dang
                        Thinh Vu, and Jason J. Jung. "Knowledge graph fusion for smart systems: A Survey." Information
                        Fusion (2020).</a></li>
            </ul>
            <br>
            <h3>Dang Thinh Vu</h3>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=iuUQONYAAAAJ&hl=en#">Google Scholar</a></li>
            </ul>
            <p>Dang Thinh Vu is an M.Sc. student in the Department of Computer Science and Engineering, Chung-Ang University, Korea, since 2019.
                He received the B.S. degree from the School of Information and Communication Technology of Hanoi University of
                Science and Technology, Vietnam, in 2016. His research interests include data mining, deep learning, natural
                language processing, information extraction, and knowledge engineering on social networks.</p>
            <br>
            <h3>Jason J. Jung, PhD</h3>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="http://intelligent.pe.kr/">Personal Website</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=I3exrZwAAAAJ&hl=en">Google Scholar</a></li>
            </ul>
            <p>Jason J. Jung is a Full Professor at Chung-Ang University, Korea, since September 2014. Before joining CAU, he was an Assistant
                Professor in Yeungnam University, Korea, since 2007. Also, he was a postdoctoral researcher in INRIA Rhone-Alpes,
                France, in 2006, and a visiting scientist in Fraunhofer Institute (FIRST) in Berlin, Germany, in 2004. He received
                the B.Eng. in Computer Science and Mechanical Engineering from Inha University in 1999. He received M.S. and Ph.D.
                degrees in Computer and Information Engineering from Inha University in 2002 and 2005, respectively. His research
                topics are knowledge engineering on social networks by using many types of AI methodologies, e.g., data mining,
                machine learning, and logical reasoning. Recently, he has been working on intelligent schemes to understand various
                social dynamics in large-scale social media (e.g., Twitter and Flickr).</p>
            <br>
            <h3>Knowledge Engineering Lab</h3>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="http://ke.cau.ac.kr/kelab/index.php/Main_Page">KELab Website</a></li>
            </ul>
            <p>The Knowledge Engineering Laboratory (KEL) has extensive experience with data mining, semantic technologies, and
                recommendation systems. The main research topic is on the computational processes of discovering meaningful patterns
                from various domains through intelligent methods (e.g., artificial intelligence, machine learning, statistics, and
                database systems).
            </p>
            <p>KEL is in the Department of Computer Science and Engineering at Chung-Ang University in Korea.</p>
        </div>
    </div>

    
{% endblock %}